/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  list-style: none;

  font-family: 'Roboto', sans-serif;

  /* Color Variables -> According to VanHack StyleGuid*/
  /* Brand */
  --brand-light: #2c9cf5;
  --brand-main: #0675CE;
  --brand-dark: #04559C;
  --brand-main-alpha: rgba(6, 117, 206, 0.4);
  /* Secondary */
  --secondary-light: #FF7A37;
  --secondary-main: #EF5B12;
  --secondary-dark: #C94404;
  /* Tertiary */
  --tertiary-light: #4FE9F2;
  --tertiary-main: #25C1CB;
  --tertiary-dark: #039CA6;
  --tertiary-main-alpha: rgb(37, 193, 203, 0.4);
  /* Success */
  --success-light: #64DE2A;
  --success-main: #41B809;
  --success-dark: #2F9104;
  /* Warning */
  --warning-light: #FFBA34;
  --warning-main: #FCAB10;
  --warning-dark: #D68C04;
  /* Danger */
  --danger-light: #FF6060;
  --danger-main: #DA3131;
  --danger-dark: #B30E10;

  /* Additional Colors */
  --black: #161617;
  --white: #F2F6F9;
  --white-20: #B8C3CB;
  --white-40: #788894;
}
body {
  background: var(--white) ;
}
/* NavBar / Header */
header {
  background-color: var(--white);
}

header nav.header{
  margin: auto 45px;

  display: flex;
  align-items: center;
}

header nav.header .logo{
  width: 400px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: var(--brand-main);
}

header nav.header ul{
  display: flex;
  height: 70px;
}

header nav.header ul li{
  width: 80px;
  height: 100%;

  display: inherit;
  justify-content: center;
  align-items: center;

  font-size: 17px;
}

header nav.header ul li:hover{
  border-bottom: 5px solid var(--brand-main);
  font-weight: bold;

  transition: 250ms;
}

header nav.header ul li.selected{
  border-bottom: 5px solid var(--brand-main);
}

.jumbotron{
  width: 100%;
  height: 300px;
  background-color:var(--brand-main);
  
  box-shadow: 6px 6px 15px 0 rgb(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron span {
  font-size: 80px;
  font-weight: bold;
  color: var(--white);

  -webkit-text-stroke: 1px var(--white);

}

.jumbotron p{
  color: var(--white);
  
  width: 80%;

  margin-top: 30px;

  font-size: 20px;
  line-height: 30px;
  stroke: black;

}
/* Content */
main{
  margin: auto 50px;
}

main .content {
  margin-top: 20px;
}
main .content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 25px;
}

main .content .cards .card {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  border-radius: 8px;
  border: 1px solid var(--brand-main);
  width: 420px;
  height: 100%;
  padding: 10px;

  background: var(--white);

  box-shadow: 6px 6px 15px 0 rgb(0, 0, 0, 0.8);
}

main .content .cards .card:hover {
  transform: scale(1.05);
  transition:  250ms;
}

main .content .cards .card .ribbon { 
  height: 30px;
  width: 200px;
  background: var(--secondary-main);

  position: absolute;
  top: -10px;
  left: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 8px 8px;
  box-shadow: 6px 6px 15px 0 rgb(0, 0, 0, 0.8);

  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

main .content .cards .card .ribbon::before { 
 content: ''; 
 position: absolute;
 top: 0;
 left: -10px;
 border-left: 5px solid transparent;
 border-right: 5px solid var(--secondary-dark);
 border-top: 5px solid transparent;
 border-bottom: 5px solid var(--secondary-dark);
}

main .content .cards .card img {
  width: 100%;
  height: 150px;

  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

/* EVENTS */
main .content .cards .card span.event-type {
  color: var(--white);
  
  text-align: center;

  font-weight: bold;
  font-size: 20px;
  
  border-radius: 0 0 10px 10px;
  height: 25px;
  background-image: linear-gradient(to right, var(--brand-main), var(--tertiary-main));
}

/* Leap */
main .content .cards .card span.Leap { 
  background-image: linear-gradient(to right, var(--success-dark), var(--tertiary-dark));
}

/* Mission */
main .content .cards .card span.Mission {
  background-image: linear-gradient(to right, var(--warning-dark), var(--warning-light));
}
/* Hackaton */
main .content .cards .card span.Hackaton {
  background-image: linear-gradient(to right, var(--danger-dark), var(--danger-light));
}

main .content .cards .card h1{
  margin-top: 10px ;
  color: var(--brand-main);
  word-wrap: break-word;
}

main .content .cards .card p.description{
  color: var(--white-40);
}

main .content .cards .card .information{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 420px;

  padding-left: 10px;
  margin: 10px 0 10px 0;
  
  background-image: linear-gradient(to right, var(--brand-main-alpha), var(--tertiary-main-alpha));
  
  /* background-color: rgba(44, 156, 245, 0.2); */
  
  border-width: 2px 0 2px 0;
  border-color: var(--brand-main);
  border-style: solid;
  
  position: relative;
  left: -10px; 
}

main .content .cards .card .information .specs{
  display: flex;
  flex-direction: column;
  flex: 1;

  padding-left: 10px;
}

main .content .cards .card .information .date{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

main .content .cards .card .information .date h1{
  margin-top: 0;
  font-size: 40px;
  color: var(--brand-dark);
}

main .content .cards .card .card-bottom{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

main .content .cards .card .card-bottom .card-buttons{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

main .content .cards .card .card-bottom button{
  background-color: var(--brand-main);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  
  width: 100%;
  height: 50px;
  
  border: 0;
  border-radius: 8px;
}

#modal {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;  
}

#modal.hidden {
  display: none;
}

#modal .modal-card {
  width: 1000px;
  height: 500px;
  background: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  position: relative;
}
#modal .modal-card .modal-top {
  width: 100%;
  height: 40px;
  padding-right: 10px;
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: linear-gradient(to right, var(--brand-main), var(--tertiary-main));
}

/* Leap */
#modal .modal-card .modal-top.Leap {
  background-image: linear-gradient(to right, var(--success-dark), var(--tertiary-dark));
} 

/* Mission */
#modal .modal-card .modal-top.Mission {
  background-image: linear-gradient(to right, var(--warning-dark), var(--warning-light));
}

/* Hackaton */
#modal .modal-card .modal-top.Hackaton {
  background-image: linear-gradient(to right, var(--danger-dark), var(--danger-light));
} 


#modal .modal-card #close {
  color: var(--white);

  font-style: italic;
  font-size: 15px;

}
#modal .modal-card img {
  width: 100%;
  height: 250px;

  object-fit: cover;
}

#modal .modal-card .modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#modal .modal-card .modal-content h1 {
  color: var(--brand-main);
  margin-bottom: 10px;
}

#modal .modal-card .modal-content p {
  flex: 1;
  font-size: 20px;
}

#modal .modal-card .modal-content h2 {
  color: var(--secondary-main);
  font-size: 20px;
}

#modal .modal-card .modal-content .modal-bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* share */
#modal .modal-card .modal-content .modal-bottom .share {
  display: flex;  
  align-items: center;
}

#modal .modal-card .modal-content .modal-bottom .share span{
  margin-right: 10px;
}

#modal .modal-card .modal-content .modal-bottom .share img{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#modal .modal-card .modal-content .modal-bottom button.apply{ 
  background: var(--secondary-main);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;

  width: 200px;
  height: 50px;
  border-radius: 8px;
}

#modal .modal-card .modal-content .modal-bottom button:disabled{ 
  background: var(--white-40);
  
}

#modal-information {
  visibility: hidden;
  display: flex;
  justify-content: center;
  
  position: absolute;
  width: 100%;
  top: 100px;
  opacity: 0;

  color: var(--white);
}

#modal-information.show {
  visibility: visible;
  top: 10px;
  opacity: 1;
  transition: 1s;
}

#modal-information h1 {
  padding: 15px;
  background-color: var(--white);
  border-radius: 8px;
  
}

#modal-information.success {
  color: var(--success-main);
}

#modal-information.fail {
  color: var(--danger-main);
}


@media(min-width: 1500px) {
  main .content .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}